/* @font-face {
  font-family: "GloomyThings";
  font-style: normal;
  font-weight: 400;
  src: url("GloomyThings.ttf"), format("truetype");
} */

:root {
  --bgcolor: yellow;
  --fontcolor: black;
  /* --fontmain: "GloomyThings", sans-serif; */
}

html {
  background-color: var(--bgcolor);
  font-size: 16px;
}

body {
  background-color: var(--bgcolor);
  /* font-family: var(--fontmain); */
  box-sizing: border-box;
  max-width: 100vw;
  min-height: 100vh;
}

.product-preview {
  border: 2px solid black;
}

.product-preview-image {
  height:20rem;
}
.product-preview-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}